<section>
	<div class="section-header">
		<ol class="breadcrumb">
			<li ng-repeat="bc in breadcrumb.routes">
				<a ng-click="irPara(bc.url)">{{bc.name}}</a>
			</li>			
			<li class="active">{{breadcrumb.active.name}}</li>
		</ol>
	</div>
	<div class="section-body contain-lg">

		<!-- BEGIN INTRO -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-primary">Cliente</h1>
			</div><!--end .col -->
			<div class="col-lg-8">
				<article class="margin-bottom-xxl">
					<p class="lead">
						
					</p>
				</article>
			</div><!--end .col -->
		</div><!--end .row -->
		<!-- END INTRO -->

		<!-- BEGIN AUTOCOMPLETE -->
		<div class="row">			
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<form class="form">
							<input type="hidden" ng-model="cliente._id"/>
							<input type="hidden" ng-model="cliente._rev"/>
							<div class="form-group floating-label col-md-6">
								<input type="text" ng-model="cliente.codigo" class="form-control input-lg" ng-class="{'dirty': cliente.codigo.length > 0}" id="large4">
								<label for="large4">Código</label>
							</div>
							<div class="form-group floating-label col-md-6">
								<input type="text" ng-model="cliente.nome" class="form-control input-lg" ng-class="{'dirty': cliente.nome.length > 0}" id="large4">
								<label for="large4">Nome do Cliente *</label>
							</div>							
							<div class="form-group floating-label col-md-6">
								<input type="text" ng-model="cliente.telefone" class="form-control input-lg" ng-class="{'dirty': cliente.telefone.length > 0}" id="large4">
								<label for="large4">Telefone</label>
							</div>
							<div class="form-group floating-label col-md-6">
								<input type="text" ng-model="cliente.celular" class="form-control input-lg" ng-class="{'dirty': cliente.celular.length > 0}" id="large4">
								<label for="large4">Celular</label>
							</div>		
							<div class="form-group floating-label col-md-12">
								<input type="text" ng-model="cliente.endereco" class="form-control input-lg" ng-class="{'dirty': cliente.endereco.length > 0}" id="large4">
								<label for="large4">Endereço</label>
							</div>					
							<div class="col-md-12">
								<button type="button" class="btn ink-reaction btn-flat btn-primary" ng-click="salvarCliente(cliente)">Salvar</button>
								<button type="button" class="btn ink-reaction btn-flat btn-primary" ng-click="cancelar()">Cancelar</button>
							</div>
						</form>						
					</div><!--end .card-body -->
				</div><!--end .card -->
				<em class="text-caption">Autocomplete from jQuery and Typeahead</em>
			</div><!--end .col -->
		</div><!--end .row -->
		<!-- END AUTOCOMPLETE -->
	</div><!--end .section-body -->
</section>
