	<section>
		<div class="section-header">
			<ol class="breadcrumb">
				<li class="active">Pricing</li>
			</ol>
		</div>
		<div class="section-body">
			<div class="container">
				<h2 class="text-light text-center">Plans & pricing<br/><small class="text-primary">Check out our pricing tables</small></h2>
				<br/>

				<!-- BEGIN PRICING CARDS 1 -->
				<div class="row">
					<div class="col-md-3">
						<div class="card card-type-pricing text-center">
							<div class="card-body style-gray">
								<h2 class="text-light">Basic</h2>
								<div class="price">
									<span class="text-lg">$</span><h2><span class="text-xxxl">7</span></h2> <span>/mo</span>
								</div>
								<br/>
								<p class="opacity-50"><em>Rame aute irure dolor in reprehenderit pariatur.</em></p>
							</div><!--end .card-body -->
							<div class="card-body no-padding">
								<ul class="list-unstyled">
									<li>20 Pages</li>
									<li>100 GB Bandwidth</li>
									<li>1 GB Storage</li>
									<li>24/7 Customer Support</li>
								</ul>
							</div><!--end .card-body -->
							<div class="card-body">
								<a class="btn btn-default">Assinar</a>
							</div><!--end .card-body -->
						</div><!--end .card -->
					</div><!--end .col -->
					<div class="col-md-3">
						<div class="card card-type-pricing text-center">
							<div class="card-body style-gray">
								<h2 class="text-light">Standard</h2>
								<div class="price">
									<span class="text-lg">$</span><h2><span class="text-xxxl">15</span></h2> <span>/mo</span>
								</div>
								<br/>
								<p class="opacity-50"><em>Rame aute irure dolor in reprehenderit pariatur.</em></p>
							</div><!--end .card-body -->
							<div class="card-body no-padding">
								<ul class="list-unstyled">
									<li>40 Pages</li>
									<li>200 GB Bandwidth</li>
									<li>2 GB Storage</li>
									<li>24/7 Customer Support</li>
								</ul>
							</div><!--end .card-body -->
							<div class="card-body">
								<a class="btn btn-default">Assinar</a>
							</div><!--end .card-body -->
						</div><!--end .card -->
					</div><!--end .col -->
					<div class="col-md-3">
						<div class="card card-type-pricing text-center">
							<div class="card-body style-primary">
								<h2 class="text-light">Pro</h2>
								<div class="price">
									<span class="text-lg">$</span><h2><span class="text-xxxl">28</span></h2> <span>/mo</span>
								</div>
								<br/>
								<p class="opacity-50"><em>Rame aute irure dolor in reprehenderit pariatur.</em></p>
							</div><!--end .card-body -->
							<div class="card-body no-padding">
								<ul class="list-unstyled">
									<li>Unlimited</li>
									<li>500 GB Bandwidth</li>
									<li>6 GB Storage</li>
									<li>24/7 Customer Support</li>
								</ul>
							</div><!--end .card-body -->
							<div class="card-body">
								<a class="btn btn-primary">Assinar</a>
							</div><!--end .card-body -->
						</div><!--end .card -->
					</div><!--end .col -->
					<div class="col-md-3">
						<div class="card card-type-pricing text-center">
							<div class="card-body style-gray">
								<h2 class="text-light">Enterprise</h2>
								<div class="price">
									<span class="text-lg">$</span><h2><span class="text-xxxl">56</span></h2> <span>/mo</span>
								</div>
								<br/>
								<p class="opacity-50"><em>Rame aute irure dolor in reprehenderit pariatur.</em></p>
							</div><!--end .card-body -->
							<div class="card-body no-padding">
								<ul class="list-unstyled">
									<li>Unlimited</li>
									<li>1 TB Bandwidth</li>
									<li>10 GB Storage</li>
									<li>24/7 Customer Support</li>
								</ul>
							</div><!--end .card-body -->
							<div class="card-body">
								<a ng-click="assinar()" class="btn btn-default">Assinar</a>
							</div><!--end .card-body -->
						</div><!--end .card -->
					</div><!--end .col -->
				</div><!--end .row -->
				<!-- END PRICING CARDS 1 -->

			</div><!--end .container -->
		</div><!--end .section-body -->
	</section>
	