	<section>
		<div class="section-header">
			<ol class="breadcrumb">
				<li class="active">Retorno</li>
			</ol>
		</div>
		<div class="section-body">
			<div class="container">
				<h2 class="text-light text-center">Pagamento recebido<br/><small class="text-primary">Obrigado por assinar</small></h2>
				<br/>

				<!-- BEGIN PRICING CARDS 1 -->
				<div class="row">
					
				</div><!--end .row -->
				<!-- END PRICING CARDS 1 -->

			</div><!--end .container -->
		</div><!--end .section-body -->
	</section>
	