<html>
<head>
<style>
span{
	display: block;
}
</style>
</head>
<body>
	<span>--------------------------------------------------------</span>
	<span>SUPERMERCADO REAL PENT</span>
	<span>R ARCINDO SARDO 566</span>
	<span>CNPJ: 08597976/0001-03</span>
	<span>--------------------------------------------------------</span>
	<table>
		<thead>
			<tr>
				<th>Qte</th>
				<th>Descricacao</th>
				<th>Unit</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>4</th>
				<th>BIBSFIHAS CARNE</th>
				<th>1,85</th>
				<th>7,40</th>
			</tr>
			<tr>
				<th>Total</th>
				<th></th>
				<th></th>
				<th>7,40</th>
			</tr>
		</tbody>
	</table>
	<span>--------------------------------------------------------</span>
</body>
</html>